
@{
    ViewBag.Title = "profile";
}

<h2>profile</h2>
<div class="audio-container"></div>

@section scripts
{
    <script src="~/Scripts/player.js"></script>
    <script src="~/Scripts/profile.js"></script>
}

