
@{
    ViewBag.Title = "letters";
}

<h2>letters</h2>

<div class="letters-box"></div>

@section scripts
{
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="~/Scripts/record-letters.js" type="text/javascript"></script>
}