
@{
    ViewBag.Title = "popular";
}

@Html.ActionLink("Запись голоса", "letters", "record")
@Html.ActionLink("Создание аудио", "create", "buildSound")

<h2>Популярные</h2>

<a href="/sound/latest">
    <input type="submit" value="новые аудио"/>
</a>

<a href="/sound/liked">
    <input type="submit" value="понравившиеся аудио" />
</a>


<a href="/sound/subs">
    <input type="submit" value="подписки"/>
</a>

<a href="/account/profile">
    <input type="submit" value="профиль" />
</a>


<div class="audio-container"></div>

@section scripts
{
    <script src="~/Scripts/player.js"></script>
    <script src="~/Scripts/popular-audio.js"></script>
}

