
@{
    ViewBag.Title = "subs";
}

<h2>подписки</h2>
<div class="audio-container"></div>

@section scripts
{
    <script src="~/Scripts/player.js"></script>
    <script src="~/Scripts/subs-audio.js"></script>
}


