@model Voice.Models.AuthorModel
@{
    ViewBag.Title = "AudioNotExists";
}

<center>
    <h2>
        У пользователя
        <span style="font-weight:600;">@Model.SingerName</span>
        нет аудио под именем
        <span style="font-weight:600;">@Model.AudioTitle</span>
    </h2>
</center>

